*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outifit", sans-serif;
}

img{
    border-radius: 7px;
    max-width:300px;
    max-height:500px;
    width: auto;
    height: auto;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 150px;
    /* align-items: center; */
    /* background-color: hsl(216, 50%, 16%); */
}

.main__wrapper{

    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    justify-content: center;
    height: 570px;
    width: 340px;
}

.main__title{
    text-decoration: none;
    color: white;
    font-size: x-large;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    width: 200px;
}

.description{
    color: hsl(217, 19%, 55%);
    /* font-weight: bold; */
    line-height: 1.6em;
    /* letter-spacing: 1px; */
    /* padding-top: 20px; */
}

.details{
    padding: 20px 0;
    display: inline-flex;    
}

.time__details{
    color: hsl(217, 19%, 55%);
    padding: 3px 0 0 4px ;
}

.price__details{
    font-size: 15px;
    color: hsl(178, 100%, 50%);
    font-weight: bold;
    padding: 2px 110px 0 7px;    
}

.authorship{
    display: inline-flex;
    padding-top: 15px;
    border-top: 1px solid hsl(217, 21%, 39%);
    width: 100%;

}

.authorship__details{
    padding: 10px 15px;
    color: hsl(217, 19%, 55%);
}

#people{
    border:1px solid white ;
    border-radius: 50%;
    max-width:30px;
    max-height:30px;
    width: auto;
    height: auto;
}

.name{
    text-decoration: none;
    color: white;
}

a:hover{
    color: hsl(178, 100%, 50%);
    transition: all 0.2s ease
}